<div class="container-small_card">
  <div class="container_small-card-content">
    <div class="small-card__photo">
      <img
        src="https://imgs.search.brave.com/7E8Hpes8Kb--E5E9rOxUXbE9IFXmYCtB8zwrZK9oZEc/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDQzNzAw/MTEuanBn"
        alt=""
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#">Teste de Angular</a></h1>
    </div>
  </div>
  <div class="container_small-card_separator">
    <hr />
  </div>
</div>

