<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles_main">
    <app-big-card
      id="1"
      photoCover="https://imgs.search.brave.com/pVMtNGXklnaGPo5rxbo__BXNKAov_Hyw_UdCVrVGvpI/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93d3cu/cGl4ZWxzdGFsay5u/ZXQvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTYvMDYvTGluay1J/bWFnZXMtRG93bmxv/YWQtRnJlZS5qcGc"
      title="Teste de título"
      description="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here, making it look like readable English. Many desktop publishing packages and web page"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"
      title="Teste de título"
      id="2"
    ></app-small-card>
    <app-small-card
      photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"
      title="Teste de título"
      id="3"
    ></app-small-card>
    <app-small-card
      photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"
      title="Teste de título"
      id="4"
    ></app-small-card>
  </div>
</div>
