<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles_main">
    <app-big-card photoCover="https://imgs.search.brave.com/pVMtNGXklnaGPo5rxbo__BXNKAov_Hyw_UdCVrVGvpI/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93d3cu/cGl4ZWxzdGFsay5u/ZXQvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTYvMDYvTGluay1J/bWFnZXMtRG93bmxv/YWQtRnJlZS5qcGc"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"></app-small-card>
    <app-small-card photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"></app-small-card>
    <app-small-card photoCover="https://imgs.search.brave.com/gea9L2G8rEsgKbvfAME2_FT9oI06gTjOn2PIecb-hqo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zaW1v/bmxhbG9uZGUuZ2l0/aHViLmlvL2ltYWdl/cy9waG90bzEzLmpw/Zw"></app-small-card>
  </div>
</div>
